.imageSlider {
	position: relative;
	overflow: hidden;
	height: 240px;
	margin: 2rem 0;
	padding: 2rem;

	.imagesWrapper {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		white-space: nowrap;
		height: 100%;
		animation: slideImages 5s linear infinite;

		&:hover {
			animation-play-state: paused;
		}

		img {
			height: 100%;
			border-radius: 1rem;
			margin-right: 1rem;
		}
	}
}

@keyframes slideImages {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-25%, 0);
	}
}
