@import '@styles/theme.scss';

.landing {
	position: relative;
	height: 90vh;
	background-color: $dark;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: $light;
	overflow: hidden;

	.landingImg {
		position: absolute;
		height: 100%;
		width: 100%;
		object-fit: cover;
		opacity: 0.04;
		pointer-events: none;
		transition: 0.75s all ease;
	}

	.container {
		z-index: 10;
		h1 {
			font-size: 3rem;
			font-weight: bold;
			margin-bottom: 4rem;

			@media only screen and (min-width: 960px) {
				font-size: 5rem;
			}
		}
	}

	&:hover {
		.landingImg {
			transform: scale(1.05);
			opacity: 0.08;
		}
	}
}

.landingIcons {
	display: flex;
	gap: 2rem;
	justify-content: center;
	margin-top: 4rem;

	.landingIcon {
		svg {
			fill: $light;
			width: 2rem;
			height: 2rem;
		}

		&:hover {
			svg {
				fill: $accent;
			}
		}
	}
}
