@import '@styles/theme.scss';

.card {
    text-align: center;
    padding: 2rem;
    // border: 1px solid rgba($darker, 0.08);

    .title {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .icon {
        width: 6rem;
        height: 6rem;
    }
}
