@import '@styles/theme.scss';

.card {
    text-align: center;
    padding: 2rem;
    transition: 0.75s all ease;
    border-radius: 0.5rem;
    background-color: transparent;
    // border: 1px solid rgba($darker, 0.08);

    &:hover {
        background-color: $light;
        box-shadow: 0 0 1rem rgba($dark, 0.08);
    }

    .title {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .icon {
        width: 6rem;
        height: 6rem;
    }
}
