@import '@styles/theme.scss';

.mobileNavBtn {
	position: relative;
	display: block;

	&:hover {
		opacity: 1;
	}

	svg {
		fill: transparent;
		stroke: $light;
		stroke-width: 0.25rem;
		width: 2rem;
		height: 2rem;
	}

	@media only screen and (min-width: 960px) {
		display: none;
	}
}
