@import './theme.scss';

.content {
	max-width: 1200px;
	margin: 0 auto;
	color: $dark;
	padding: 0 2rem;

	h2 {
		font-weight: bold;
		font-size: 2rem;
		padding: 5rem 0;

		@media only screen and (min-width: 960px) {
			font-size: 3rem;
		}
	}
}
