@import './theme.scss';

* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: $light;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

a,
a:visited {
	text-decoration: none;
}
