@import './theme.scss';

* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: $darker;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	overflow-y: scroll;
}

p {
	line-height: 2rem;
}

a,
a:visited {
	text-decoration: none;
}
