@import './theme.scss';

.mobileNav {
	position: fixed;
	top: 4rem;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $dark;
	z-index: 200;
	padding: 2rem;
	color: $light;

	.closeBtn {
		position: absolute;
		top: 1rem;
		right: 1rem;
		stroke: $light;
		stroke-width: 0.25rem;
		opacity: 0.72;

		&:hover {
			opacity: 1;
		}
	}

	.navGroup {
		display: flex;
		flex-direction: column;
		font-size: 3rem;
	}
}
