@import '@styles/theme.scss';

.header {
	height: 4rem;
	background-color: $dark;
	position: sticky;
	top: 0;
	z-index: 100;
	border-bottom: 1px solid $border;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2rem;

	.navGroup,
	.desktopNavGroup {
		display: flex;
		align-items: center;
		gap: 2.5rem;
	}

	.desktopNavGroup {
		display: none;

		@media only screen and (min-width: 960px) {
			display: flex;
		}
	}
}

.headerImg {
	cursor: pointer;

	img {
		margin-top: 8px;
	}
}

.navItem,
.mobileNavBtn {
	font-weight: 500;
	opacity: 0.72;
	cursor: pointer;
	color: $light;
	position: relative;

	&:hover {
		opacity: 1;
	}

	svg {
		fill: transparent;
		stroke: $light;
		stroke-width: 0.25rem;
		width: 2rem;
		height: 2rem;
	}
}

.mobileNavBtn {
	display: block;

	@media only screen and (min-width: 960px) {
		display: none;
	}
}

.languageDropdown {
	position: absolute;

	& > div {
		z-index: 101;
		cursor: initial;
		margin-top: 2rem;
		display: flex;
		background-color: $dark;
		padding: 1rem 2rem;
		border: 1px solid $border;
		flex-direction: column;
		gap: 1rem;

		a {
			cursor: pointer;
			color: $light;
		}
	}
}
