@import '@styles/theme.scss';

.footer {
	background-color: $dark;
	padding: 5rem;
	text-align: center;
	color: $light;

	.footerLogo {
		opacity: 0.72;
	}

	.copyright {
		margin-top: 1rem;
		opacity: 0.72;
		font-size: 1.25;
	}
}
